
notes.md

node_modules/

.DS_Store
test/
data/
experiments/
demo/*
!demo/example.js
lib/*

!lib/index.js
!lib/simple-state-space.js
!lib/LZ78-sequence-coder.js

!lib/pattern-sequence-coder.js
!lib/gen-state-space.js